* Two Generals Problem

  * Client generates a UUID for each request. If server does not ack the
    request, the request is resent several times with the same UUID until the
    server does ack it. The server has a "Request" database, which stores the
    UUID, response code/headers, and a response BLOB (actually, just filename?
    ¯\_(ツ)_/¯). NULL value means the request is still processing. Probs want a
    @Request annotation that handles all of this (& authentication).

* Start with tracking weight, that's trivial by comparison.

*
