[Unit]
Description=Start LifeLog's instance of uwsgi

[Service]
#ExecStart=uwsgi --ini /srv/LifeLog/uwsgi.ini
ExecStart=uwsgi -s /tmp/lifeLog_uwsgi.socket --manage-script-name --mount /srv/LifeLog/test:test
User=http
Group=http

[Install]
WantedBy=multi-user.target
